@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1b1b1d;
  --color-secondary: #ffffff;
  --background: 255, 255, 255;
  --background--navbar: linear-gradient(90deg, #0cbc8b 0%, #289d7d 100.03%);
}

body {
  all: unset;
  color: rgb(var(--color-primary));
}

h1 {
  font-weight: 500;
  margin-bottom: 2rem;
}

input:not([type="submit"]),
select {
  border: 1px solid #00000040;
  display: block;
  margin: 20px auto;
  min-width: 500px;
  padding: 10px;
}

input[type="submit"] {
  background-color: #0cbc8b;
  color: var(--color-secondary);
  padding: 10px 20px;
  min-width: 200px;
}

input[type="submit"]:hover {
  cursor: pointer;
}
